body {
    /* https://followme.vn/duyenthi-group/tao-thiep/459-2/?zarsrc=273&utm_source=zalo&utm_medium=zalo&utm_campaign=zalo */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(255, 255, 255, 0.95); /* Nền trắng trong suốt nhẹ */
    border: 1px solid #e0e0e0;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}
